* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************ Header ************/

header .cont_img_nav {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cont_img_header {
  width: 70px;
}

.cont_img_header img {
  padding: 20px 0;
}

nav a {
  padding: 60px 0;
  margin: 0 18px;
  text-decoration: none;
  color: #464646;
  font-weight: 600;
}

nav .attivo {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

/************ /Header ************/

